@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container-section-100 {
  margin: 0 auto;
  background: #FCFCFC;
  z-index: 0;
  min-height: 100%;
}
.container-inner-67 {
  display: flex;
  flex-direction: column;
  width: 67%;
  margin: auto;
  animation: fadeInAnimation ease 1.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding-top: 4em;
}
.container-columns-67_33 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.container-columns-33_67 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.container-columns-50_50 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container-columns-33_33_33 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.container-columns-100 {
  display: block;
}
.font-heading_text-h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 54pt;
  color: #6C7583;
}
.font-heading_text-h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 30pt;
  text-align: left;
  color: #6C7583;
  margin: 0 0 1em 0;
}
.font-heading_text-h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 26pt;
  margin: 0 0 18px 0;
  text-align: left;
  line-height: 140%;
  color: #6C7583;
}
.font-heading_text-h4 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20pt;
  letter-spacing: 0.3px;
  margin: 0 0 12px 0;
  text-align: left;
  line-height: 140%;
  color: #6C7583;
}
.font-heading_text-h5 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16.5pt;
  letter-spacing: 0.3px;
  margin: 0 0 12px 0;
  text-align: left;
  line-height: 140%;
  color: #6C7583;
}
.font-body_text-p {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  font-size: 12pt;
  line-height: 165%;
  font-weight: 400;
  color: #25282F;
  margin: 0 0 16px 0;
}
.font-hyperlink_text {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  font-size: 12pt;
  line-height: 165%;
  font-weight: 400;
  color: #25282F;
  margin: 0 0 16px 0;
  text-decoration: none;
  font-weight: 300;
  font-size: 12.5pt;
}
.font-hyperlink_text:hover {
  text-decoration: underline;
  color: #2E69FF;
}
.font-hyperlink_in-text {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  font-size: 12pt;
  line-height: 165%;
  font-weight: 400;
  color: #25282F;
  margin: 0 0 16px 0;
  color: #2E69FF;
  text-decoration: none;
  font-weight: 300;
  font-size: 14pt;
}
.font-hyperlink_in-text:hover {
  text-decoration: underline;
  color: #2E69FF;
}
.font-caption {
  color: #25282F;
  font-family: 'Roboto Slab', serif;
  font-size: 11pt;
  line-height: 140%;
  font-weight: 300;
}
.font-italic {
  font-style: italic;
  font-size: 12.5pt;
}
.font-bold {
  font-weight: 400;
}
.highlight {
  font-weight: 400;
  color: #6C7583;
}
form button {
  font-family: 'Inter', sans-serif;
  color: #FFF;
  background-color: #56BF97;
  border: none;
  padding: 16px 20px 16px 20px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
}
form button span {
  margin-bottom: 0;
  font-weight: 800;
  font-size: 11.5pt;
  letter-spacing: 0.8px;
  margin-left: 0;
}
form button span img {
  width: 80%;
  float: right;
}
form button:hover {
  color: #FFF;
  background-color: #0CC398;
  cursor: pointer;
}
html {
  background: #FFF;
}
body {
  font-size: 16pt;
}
h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 54pt;
  color: #6C7583;
  letter-spacing: 2px;
}
h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 30pt;
  text-align: left;
  color: #6C7583;
  margin: 0 0 1em 0;
}
h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 26pt;
  margin: 0 0 18px 0;
  text-align: left;
  line-height: 140%;
  color: #6C7583;
}
h4 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20pt;
  letter-spacing: 0.3px;
  margin: 0 0 12px 0;
  text-align: left;
  line-height: 140%;
  color: #6C7583;
}
h5 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16.5pt;
  letter-spacing: 0.3px;
  margin: 0 0 12px 0;
  text-align: left;
  line-height: 140%;
  color: #6C7583;
}
p {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  font-size: 12pt;
  line-height: 165%;
  font-weight: 400;
  color: #25282F;
  margin: 0 0 16px 0;
}
#row-banner {
  min-height: 60vh;
  background-image: url("../../images/backgrounds/banner-contact.png");
  background-size: cover;
  background-color: #56BF97;
}
#row-banner .container-inner-67 {
  padding-bottom: 0 !important;
}
#row-banner .container-inner-67 h1 {
  color: #FCFCFC;
  line-height: 124%;
  text-shadow: 2px 2px 6px #313131;
  margin-top: 2em;
}
#row-contact_info .container-inner-67 .container-columns-50_50 {
  grid-gap: 4em;
}
#row-contact_info .container-inner-67 .container-columns-50_50 div h5 {
  color: #0CC398;
}
#row-contact_info .container-inner-67 .container-columns-50_50 div ul li {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  font-size: 12pt;
  line-height: 165%;
  font-weight: 400;
  color: #25282F;
  margin: 0 0 16px 0;
  margin-bottom: 8px;
  list-style-type: circle;
}
