nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 0 16px 0;
  background: rgba(254, 254, 254, 0.85);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
  align-items: center;
}
nav #navigation-left {
  align-items: center;
}
nav #navigation-left a #logo {
  height: 36px;
  margin-left: 16.5vw;
}
nav #navigation-right {
  align-items: center;
}
nav #navigation-right label {
  margin: auto;
  text-align: center;
  display: none;
}
nav #navigation-right #toggle {
  display: none;
}
nav #navigation-right #menu {
  display: inline-flex;
  margin: 0;
  margin-right: 16.5vw;
  list-style-type: none;
}
nav #navigation-right #menu a {
  font-size: 11.5pt;
  color: #25282F;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.2px;
  text-decoration: none;
  transition: 0.3s;
}
nav #navigation-right #menu a:hover {
  color: #0CC398;
}
nav #navigation-right #menu li:nth-child(1) {
  margin-right: 32px;
  justify-content: space-between;
}
nav #navigation-right #menu li:nth-child(2) {
  margin-right: 32px;
}
nav #navigation-right #menu li:nth-child(3) {
  margin-right: 32px;
}
