.container-inner-67 {
  display: flex;
  flex-direction: column;
  padding: 2em 0 2em 0;
  width: 67%;
  margin: auto;
  animation: fadeInAnimation ease 1.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.container-columns-33_33_33 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.font-body_text-p {
  font-family: 'Inter', sans-serif;
  margin: 0;
  font-size: 14pt;
  line-height: 160%;
  font-weight: 400;
  color: #25282F;
}
footer {
  width: 100%;
  background-color: #0CC398;
  z-index: 1;
  border-top: 1px solid #c4c4c4;
  font-family: 'Inter', sans-serif;
  margin: 0;
  font-size: 14pt;
  line-height: 160%;
  font-weight: 400;
  color: #25282F;
  color: #FCFCFC;
}
footer .container-inner-67 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .container-inner-67 div ul li {
  line-height: 260%;
}
footer .container-inner-67 div ul li a {
  font-size: 12pt;
  color: #FCFCFC;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.2px;
  text-decoration: none;
  transition: 0.3s;
}
footer .container-inner-67 div ul li a:hover {
  color: #FFE39A;
}
footer .container-inner-67 div ul li a img {
  height: 64px;
}
